.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .order-list {
    margin-top: 20px;
  }
  
  .order-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-item p {
    margin: 5px 0;
  }
  
  .ordered-books-list {
    list-style: none;
    padding: 0;
  }
  
  .ordered-books-list li {
    margin-bottom: 5px;
  }
  
  .total-price {
    font-weight: bold;
  }
  
 