.book-item-container {
  flex: 0 0 20%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 40px;
  margin-left: 40px;
}

.book-image-container {
  width: 280px;
  height: 420px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease; /* Add transition property */
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.book-name {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.book-author {
  font-weight: bold;
}

.book-rating {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}

/* Add a CSS rule to enlarge the book item on hover */
.book-item-container:hover {
  transform: scale(1.05); /* Enlarge the item by 5% on hover */
  transition: transform 0.3s ease; /* Apply a smooth transition */
}

@media (max-width: 991px) {
  .book-image-container {
    width: 200px;
    height: 320px;
  }
}

@media (max-width: 768px) {
  .book-image-container {
    width: 280px;
    height: 420px;
  }
  .book-item-container {
    margin-left: 140px;
  }
}

@media (max-width: 650px) {
  .book-image-container {
    width: 220px;
    height: 330px;
  }
  .book-item-container {
    margin-left: 70px;
  }
}

@media (max-width: 430px) {
  .book-image-container {
    width: 150px;
    height: 250px;
  }
  .book-item-container {
    margin-left: 50px;
  }
}
