
.container-admin {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.bordered-container {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button.btn-outline-dark {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
}

.button.btn-outline-dark:hover {
  background-color: #333;
  color: #fff;
}

.button.btn-outline-danger {
  background-color: transparent;
  border: 2px solid #ff5722;
  color: #ff5722;
}

.button.btn-outline-danger:hover {
  background-color: #ff5722;
  color: #fff;
}
