  
  .book-details-container {
    box-sizing: border-box;
    max-width: 1000px;
  }
  .book-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
    font-family: Inter, sans-serif;
    margin-top: 100px;
  }
  .book-details-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
  }
  .book-article{
    color: grey;
    font-size: 15px;
    text-align: left; 

  }
  .info-class {
    flex: 1;
    margin-left: 30px;
    font-size: 24px;
    color: #333;
    text-align: left;

  }
  .intro-text{
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
  }
  .info-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
  }
  
  .book-title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 40px;
    text-align: left; 

  }
  
  .book-price {
    font-size: 20px;
    margin: 51px 0;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #FFA500;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 40px;
  }

  
  .book-info-heading {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }
  
  .book-info-table {
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .book-info-table td {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
  }
  .quantity-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid grey;
  }
